form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-container h3 {
  color: #5a6971;
  margin-bottom: 1.5rem;
}
form input {
  margin: 1rem;
  width: 10rem;
  height: 1.5rem;
  border-radius: 4px;
  border: #f0f3f4;
  color: #5a6971;
}

form button {
  background-color: #ff895d;
  color: black;
  font-weight: 1000;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  border: #ff895d;
  font-size: 1rem;
  margin-top: 2rem;
}

form button:hover {
  background-color: #bac3c868;
  border: #ff885d81 solid;
}

.labels-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*EDIT FORM*/

.form-container {
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 1% 0 1% 2%;
  padding: 2% 1% 2% 2%;
  border-radius: 10px;
  background-color: #f0f3f4;
  display: flex;
  color: #5a6971;
}
