* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#delete-button {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}
#delete-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #f0f3f4;
}

.propertyDetails {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  left: 30%;
  top: 30%;
}
.details-container {
  text-align: center;
  margin: 0.5rem 0 0 3rem;
  padding: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 1rem;
}
#details-container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#details-container-text {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#property-name {
  color: #5a6971;
  font-weight: bolder;
}
#property-description {
  margin-top: 0.5rem;
  color: #5a6971;
}
#property-price {
  margin-top: 0.5rem;
  font-weight: bolder;
  font-size: larger;
}
#per-night-text {
  color: #5a6971;
  font-weight: lighter;
}
#property-type {
  margin-top: 0.5rem;
  color: #5a6971;
  font-weight: bolder;
}
#property-bedrooms {
  margin-top: 0.5rem;
  color: #5a6971;
  font-weight: bolder;
}
.propertyDetails img {
  width: 527px;
  height: auto;
  margin-left: 2rem;
  border-radius: 15px;
}

.propertyDetails p {
  width: 80%;
  height: auto;
}

#edit-button {
  background-color: #ff895d;
  color: black;
  font-weight: 1000;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  border: #ff895d;
  font-size: 1rem;
  margin-top: 2rem;
}
#edit-button:hover {
  background-color: #bac3c868;
  border: #ff885d81 solid;
}
#back-button-container {
  width: 6rem;
  height: 1.5rem;
  background-color: #f0f3f4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left: 3rem;
}
#back-button {
  background-color: #f0f3f4;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-align: center;
}

#back-button-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
